body {
	
  background: #F6F6F6;
  color: #333;
  font-size: 12px;
  height: auto;
  padding-bottom: 20px;
  text-shadow: 2px 2px #ff0000;
}

h2 {
  font-weight: normal;
  text-align: center;
}

.height300 {
	min-height: 300px;
}

.grid_6, .grid_8, .grid_10, .grid_12 {
	
	border-radius: 10px;
	background: #fff;
}

.center {
	align: center;
}

.textCenter {
	text-align: center;
}

.paddingTop5{
	padding-top: 5px;
}

.paddingTop10{
	padding-top: 10px;
}

.paddingTop20{
	padding-top: 20px;
}

.paddingTop90{
	padding-top: 90px;
}

table {
	background-color: #FFFFE0;
	border-collapse: collapse;
	border: 3px solid #FFFFFF;
	color: #000000;
	width: 100%;
}
td {
	text-align: left;
	border-collapse: collapse;
	border: 3px solid #FFFFFF;
}

.lightYellow {
	backgroud: #FFFFE0;
}

