body {
	
  background: #F6F6F6;
  color: #333;
  font-size: 12px;
  height: auto;
  padding-bottom: 20px;
  /*text-shadow: 1px 1px #669999;*/
}

h2 {
  font-weight: normal;
  text-align: center;
}

.container_12 {
	border-radius: 10px;
	background: #FFFFE0;
	align: center;
	text-align: center;
	
}
.grid_8 {
	
	border-radius: 10px;
	background: #FFFFE0;
}

table {
	background-color: #FFFFE0;
	border-collapse: collapse;
	border: 3px solid #FFFFE0;
	color: #000000;
	width: 100%;
}

td {
	text-align: left;
	border-collapse: collapse;
	border: 3px solid #FFFFE0;
}

.blue {
	background: #99b3ff;
}

.lightYellow {
	background: #FFFFE0;
}

.center {
	align: center;
}

.textCenter {
	text-align: center;
}
.textRight {
	text-align: right;
} 

