/* TODO: siin on korduvat koodi */
body {
  background: #fff;
  color: #333;
  font-size: 12px;
}

h2 {
  font-weight: normal;
  text-align: center;
}

.container_12 {
	background: #f0f5f5;
}
.grid_8 {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background: #FFFFE0;
}
.grid_10 {
	float:none;
}
.grid_12 {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background: #FFFFE0;
}

table {
	margin-left: 10px;
	background-color: #FFFFE0;
	border-collapse: collapse;
	border: 3px solid #FFFFE0;
}

td {
	text-align: left;
	border-collapse: collapse;
	border: 3px solid #FFFFE0;
}

hr {
	color: white;
}

.blue {
	background: #99b3ff;
}

.lightYellow {
	background: #FFFFE0;
}

.center {
	align: center;
}
.textCenter {
	text-align: center;
}
.textRight {
	text-align: right;
} 

.formContainer{
	margin-top:5px;
	position:relative;
	float:none;
	margin-left: 12px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.tulemusedContainer{
	margin-top:10px;
	margin-bottom:10px;
	position:relative;
	float:none;
	min-higth: 300px;
}

.tulemusedContainer td{
	min-width: 150px;
	padding-left: 5px;
}

.tulemusedContainer th{
	background: #99b3ff;
	min-width: 150px;
	padding-left: 5px;
}

.tulemusedContainer table{
	border: 3px solid #FFFFE0;
	text-align: left;
	width:95%;
}

label.error {
	color: red;
	padding-left: 10px;
}

.msgContainer{
	margin-left: 10px;
	margin-top: -5px;
	margin-bottom: 5px;
	
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	color:blue; 
	font-weight:bold;
}

.errorContainer{
	margin-left: 10px;
	margin-top: -5px;
	margin-bottom: 5px;
	
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	color:red; 
	font-weight:bold;
}

